.explore-container {
  text-align: center;
  padding: 40px 0;
  background-color: #fff;
}

.explore-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #333;
  letter-spacing: 1px;
}

.explore-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.explore-card {
  width: 150px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.explore-card:hover {
  transform: translateY(-5px);
}

.explore-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.explore-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 900;
  color: #333;
}

.explore-name.active {
  color: red;
  font-weight: 600;
}
