.dropdown-menu-custom {
  position: absolute;
  top: 100%;
  transform: translateX(-35%);
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
}


.men-dropdown {
  width: 1200px;
}
.women-dropdown {
  position: absolute;
  left: -100px;
  width: 1200px;
}
.kids-dropdown{
 position: absolute;
  left: -250px;
  width: 1200px;
}
.dropdown-left {
  display: flex;
  gap: 70px;
  flex: 2;
   padding-right: 30px;
   border-right: 1px solid #eee;
}
.dropdown-left h6 {
  font-weight: 700;
  margin-bottom: 15px;
  color: #333;
  font-size: 14px;
}
.dropdown-left p {
  margin: 0;
  font-size: 14px;
  color: #555;
  cursor: pointer;
  transition: color 0.2s ease;
  padding: 3px 0;
}
.dropdown-left p:hover {
  color: #000;
  font-weight: 500;
}
.dropdown-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 30px;
}
.dropdown-right img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}
.nav-item-hover:hover>.nav-link {
  color: #00000a !important;
  font-weight: 600 !important;
  border-bottom: 2px solid #00000a;
}